# Dependency directories
node_modules/

# Logs and temporary files
*.log *.tmp

# macOS system file
.DS_Store

# local database
.localdb/

# Visual Studio cache
.vs/
*.suo
*.user
*.userossc
*.sln.docstates